0x01:<num>
0x02:1234567890-=
0x0e:<backspace><tab>
0x10:qwertyuiop[]
0x1c:<enter><caps>
0x1e:asdfghjkl;'
0x29:`<shift><bslash>
0x2c:zxcvbnm,./<rshift>
0x37:+
0x38:<lctrl><space><rctrl>
0x45:/*
0x47:789-
0x4b:456<enter>
0x4f:123
0x52:0<del>
0x54:-<down><left>
0x58:<f1><f2><f3><f4><f5><f6><f7><f8><f9><f10><f11><f12>
0x64:<esc>
0x6e:<printscr><pgup>
0x71:<lalt><ralt>
0x75:<bslash><scroll><pause><up>
0x79:<del><end><ins>
0x7d:<right><pgdn><home>
